---
description: "King's Quill is a volunteer project dedicated to making the works of the Church's great theologians accessible in the public domain."
---

{% extends "_includes/default.njk" %}

{% block backgroundImage %}bg-home{% endblock %}

{% block content %}
  <h1 class="text-center text-white font-heading text-6xl md:text-8xl py-10">KING'S QUILL</h1>
  <p class="text-center p-5 max-w-xl mx-auto">
      King's Quill is a volunteer project dedicated to making the works of the Church's great theologians accessible in the public domain.
    </p>
  <div class="max-w-lg mx-auto border-neutral-400 rounded">
    <h2 class="text-center py-5 text-5xl font-serif">Roadmap</h2>
    <ul class="p-5 pl-10 list-decimal">
      {% for book in books | sort(true, false, "progress") | rejectattr("transcription") | take(5) %}
        <li>
          <i class="fa-solid {% if book.done %}fa-square-check{% else %}fa-square{% endif %}"></i>
          <a href="/books/{{ book.title | slugify }}/" class="underline">{{ book.title }}</a>
          (<a href="/authors/{{ book.author | slugify }}/" class="underline">{{ book.author }}</a>)
        </li>
      {% endfor %}
    </ul>
  </div>
  <h3 class="text-center my-5 text-3xl font-serif">Follow Our Progress</h3>
  <nav class="flex flex-col md:flex-row justify-center gap-1 my-5 items-center">
    {% for social in site.socials %}
      <a class="border-white border-2 rounded p-2 m-2 hover:bg-white/10" href="{{social.link}}">
        {% if social.icon %}
          <i class="fa-brands {{social.icon}}"></i>
        {% endif %}
        {{social.name}}
      </a>
    {% endfor %}
  </nav>
{% endblock %}